<template>
    <div class="list-vehicles">
        <div class="d-flex justify-content-between">
            <h5>Thông tin xe thuê số {{ index + 1 }}</h5>
            <div class="form-group ">
                <el-switch
                    v-model="orderItem.is_all_in_one"
                    @change="accountMoney"
                    active-text="Thuê trọn gói"
                    inactive-text="Thuê theo ngày">
                </el-switch>
            </div>
        </div>
        <span title="Xóa" @click="deleteVehicle(index)" class="delete-vehicle"><i
            class="fas fa-minus-circle text-danger cursor-pointer"
            title="Xóa sản phẩm"
        ></i></span>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Chọn xe <span class="text-danger">(*)</span></label>
                    <ValidationProvider vid="vehicle_id" name="Xe thuê" rules="required" v-slot="{ errors,classes }">
                        <el-select v-model="orderItem.vehicle_id" @change="accountMoney" :class="classes" clearable
                                   filterable class="w-100"
                                   placeholder="Chọn xe thuê">
                            <el-option
                                v-for="item in vehicles"
                                :key="item.id"
                                :label="`${item.name}(${item.license})`"
                                :value="item.id"
                            >
                                <span style="float: left">{{ item.name }}</span>
                                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.license }}</span>
                            </el-option>
                        </el-select>
                        <error-message :errors="errors" field="vehicle_id"></error-message>
                    </ValidationProvider>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Số mũ mượn</label>
                    <ValidationProvider vid="borrow_hats" name="Số mũ mượn" rules="numeric" v-slot="{ errors,classes }">
                        <el-input
                            placeholder="Số mũ mượn"
                            v-model="orderItem.borrow_hats"
                            :class="classes"
                        ></el-input>
                        <error-message :errors="errors" field="borrow_hats"></error-message>
                    </ValidationProvider>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Thuê lúc<span class="text-danger">(*)</span></label>
                    <ValidationProvider vid="rent_at" name="Thời gian thuê" rules="required"
                                        v-slot="{ errors,classes }">
                        <el-date-picker
                            class="w-100"
                            :class="classes"
                            v-model="orderItem.rent_at"
                            type="datetime"
                            format="dd-MM-yyyy HH:mm:ss"
                            placeholder="Chọn thời gian"
                            @change="accountMoney"
                        >
                        </el-date-picker>
                        <error-message :errors="errors" field="rent_at"></error-message>
                    </ValidationProvider>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Hẹn trả <span class="text-danger">(*)</span></label>
                    <ValidationProvider vid="return_at" name="Thời gian hẹn trả" rules="required"
                                        v-slot="{ errors,classes }">
                        <el-date-picker
                            class="w-100"
                            :class="classes"
                            v-model="orderItem.return_at"
                            format="dd-MM-yyyy HH:mm:ss"
                            type="datetime"
                            placeholder="Chọn thời gian"
                            @change="accountMoney"
                        >
                        </el-date-picker>
                        <error-message :errors="errors" field="return_at"></error-message>
                    </ValidationProvider>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="account">Thành tiền</label>
                    <money id="account" v-model="totalPrice" v-bind="money" class="form-control"
                           :disabled="true"></money>
                </div>
            </div>
            <div class="col-md-4" v-if="orderItem.show_out_date">
                <div class="form-group">
                    <label for="money_out_date">Phí quá hạn</label>
                    <money id="money_out_date" v-model="orderItem.money_out_date" v-bind="money" class="form-control"
                           :disabled="true"></money>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="other">Giá khác</label>
                    <money id="other" v-model="orderItem.other_account" @input="accountMoney" v-bind="money"
                           class="form-control"></money>
                </div>
            </div>
            <el-divider></el-divider>
        </div>
    </div>
</template>

<script>
import ErrorMessage from "../../common/ErrorMessage";
import {Money} from 'v-money';

export default {
    name: "ItemsOrder",
    props: {
        vehicles: {
            type: Array,
            default: () => {
                return []
            }
        },
        index: {
            type: Number,
            default: () => {
                return 0
            }
        },
        totalPrice: {
            type: Number,
            default: () => {
                return 0
            }
        },
        order_item: {
            type: [Object],
            default: () => {
                return {}
            }
        },
    },
    components: {
        ErrorMessage,
        Money
    },
    data() {
        const nowDate = new Date();
        return {
            orderItem: {
                vehicle_id: '',
                borrow_hats: 0,
                rent_at: new Date(),
                return_at: nowDate.setMilliseconds(nowDate.getMilliseconds() + 10),
                is_all_in_one: false,
                other_account: 0,
                money_out_date: 0,
                show_out_date: false,
            },
            /* v-money */
            money: {
                decimal: ',',
                thousands: ',',
                prefix: '',
                suffix: ' VNĐ',
                precision: 0,
                masked: false,
            },
        }
    },
    watch: {
        order_item: {
            handler(order_item) {
                if (order_item.vehicle_id) {
                    this.orderItem.vehicle_id = this.order_item.vehicle_id;
                    this.orderItem.borrow_hats = this.order_item.borrow_hats;
                    this.orderItem.is_all_in_one = this.order_item.type === 'total';
                    this.orderItem.return_at = new Date(this.order_item.return_at);
                    this.orderItem.rent_at = new Date(this.order_item.rent_at);
                    this.orderItem.other_account = this.order_item.handler_price;
                    this.orderItem.money_out_date = this.order_item.money_out_date;
                    this.orderItem.show_out_date = true;
                }
            },
            immediate: true,
            deep: true,
        }
    },
    methods: {
        deleteVehicle(index) {
            if (index === 0) {
                this.$message.warning('Đơn hàng không được trống xe thuê');
                return
            }
            this.$swal.fire({
                title: 'Bạn có chắc chắn muốn xóa?',
                showDenyButton: true,
                showCancelButton: false,
                cancelButtonText: "Không xóa",
                confirmButtonText: 'Xóa',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$emit('deleteVehicle', index);
                }
            })
        },
        accountMoney() {
            let vehicle = this.vehicles.find(vehicle => vehicle.id === this.orderItem.vehicle_id);
            let item = {
                vehicle_id: this.orderItem.vehicle_id,
                borrow_hats: this.orderItem.borrow_hats,
                rent_at: this.orderItem.rent_at,
                return_at: this.orderItem.return_at,
                is_all_in_one: this.orderItem.is_all_in_one,
                other_account: this.orderItem.other_account,
                money_out_date: this.orderItem.money_out_date,
                vehicle
            };
            if (this.orderItem.rent_at && this.orderItem.return_at && this.orderItem.vehicle_id) this.$emit('accountMoney', item, this.index)
        },
        refreshValue() {
            this.orderItem = {
                vehicle_id: '',
                borrow_hats: 0,
                rent_at: new Date(),
                return_at: new Date(),
                is_all_in_one: false
            }
        }
    }
}
</script>

<style scoped>

</style>
