<template>
    <div>
        <b-button class="btn btn-primary" @click="dialogVisible = !dialogVisible"><i
            class="fas fa-hand-holding-usd"></i>Nạp tiền gia hạn
        </b-button>
        <b-modal
            centered
            v-model="dialogVisible"
            title="Nạp tiền gia hạn"
            hide-footer
        >
            <ValidationObserver v-slot="{ handleSubmit }" ref="form">
                <form class="form" @submit.prevent="handleSubmit(handleOk)">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Hẹn trả <span class="text-danger">(*)</span></label>
                            <ValidationProvider vid="return_at" name="Thời gian hẹn trả" rules="required"
                                                v-slot="{ errors,classes }">
                                <el-date-picker
                                    class="w-100"
                                    :class="classes"
                                    v-model="return_at"
                                    format="dd-MM-yyyy HH:mm:ss"
                                    type="datetime"
                                    placeholder="Chọn thời gian"
                                >
                                </el-date-picker>
                                <div class="fv-plugins-message-container">
                                    <div data-field="name" data-validator="notEmpty"
                                         class="fv-help-block">
                                        {{
                                            errors[0]
                                        }}
                                    </div>
                                </div>
                            </ValidationProvider>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="paid">Nhập tiền gia hạn thêm<span class="text-danger">(*)</span></label>
                            <ValidationProvider vid="price" name="Tên nhân sự"
                                                rules="required"
                                                v-slot="{ errors,classes }">
                                <money id="paid" v-model="price" v-bind="money"
                                       class="form-control"
                                ></money>
                                <div class="fv-plugins-message-container">
                                    <div data-field="name" data-validator="notEmpty"
                                         class="fv-help-block">
                                        {{
                                            errors[0]
                                        }}
                                    </div>
                                </div>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" @click="handleOk">Gia hạn</button>
                    </div>
                </form>
            </ValidationObserver>
        </b-modal>
    </div>

</template>

<script>
import {ORDER_REN_CAR_ADD_ON_PRICE} from "../../../../core/services/store/order.module";
import {HOAN_THANH} from "../../../../option/orderOption";

export default {
    name: "ModalAddOnPrice",
    props: {
        order: {
            type: Object,
            default: () => {
                return null;
            }
        }
    },
    data() {
        return {
            HOAN_THANH: HOAN_THANH,
            price: '',
            return_at: '',
            dialogVisible: false,
            money: {
                decimal: ',',
                thousands: ',',
                prefix: '',
                suffix: ' VNĐ',
                precision: 0,
                masked: false,
            },
        };
    },
    mounted() {
        this.return_at = this.order.order_items.length ? this.order.order_items[0].return_at : ''
    },
    methods: {
        handleOk() {
            this.$store.dispatch(ORDER_REN_CAR_ADD_ON_PRICE, {
                order_id: this.order.id,
                price: this.price,
                store_id: this.order.store_id,
                return_at: this.return_at,
            }).then((data) => {
                this.$emit('addOnSuccess');
                this.$message.success(data.message);
                this.dialogVisible = false;
            }).catch((e) => {
                // this.$message.error(e.data.message);
                if (e.data.errors) {
                    this.$refs.form.setErrors(e.data.errors);
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
