<template>
    <div id="car-rental" class="d-inline">
        <b-modal
            :centered="true"
            :scrollable="true"
            id="modal-show-car-rental"
            size="xl"
            title="Chi tiết hợp đồng"
        >
            <div class="row mt-2">
                <div class="col-md-6">
                 <span
                     :class="order ? ORDER_STATUS_DEFINE_CSS[order.order_status] : ''">{{
                         order ? ORDER_STATUS_DEFINE[order.order_status] : ''
                     }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Thông tin hợp đồng</h4>
                    <table class="table table-bordered" v-if=order>
                        <tbody v-for="(item, index) in order.orderItems" :key="index">
                        <tr class="text-primary">
                            <td>Thuê xe</td>
                            <td>
                                <p>{{ item.vehicle.name }}({{ item.vehicle.license }})</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Tại cửa hàng</td>
                            <td>{{ order.store ? order.store.store_name : '' }}</td>
                        </tr>
                        <tr>
                            <td>Thuê lúc</td>
                            <td>{{ item.rent_at | formatDateTime }}</td>
                        </tr>
                        <tr>
                            <td>Hẹn trả</td>
                            <td>{{ item.return_at | formatDateTime }}</td>
                        </tr>
                        <tr>
                            <td>Thời gian trả</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mượn mũ</td>
                            <td>{{ item.borrow_hats }}</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td>Ghi chú</td>
                            <td>aa</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h4>Thông tin khách hàng</h4>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Tên khách hàng</td>
                            <td>{{ order ? order.customer_name : '' }}</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>{{ order ? order.customer_phone : '' }}</td>
                        </tr>
                        <tr>
                            <td>Số CMTND/CCCD</td>
                            <td>{{ order ? order.customer_id_card : '' }}</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>{{ order ? order.customer_address : '' }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Chi phí</h4>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Thu khách</td>
                            <td v-if="order">{{ order.pid | formatPrice }}</td>
                        </tr>
                        <tr id="tam_tinh" style="font-weight: 700; font-size: 1.2rem;">
                            <td>Phí thuê</td>
                            <td v-if="order" id="pricing_temp" style="color: #060;">
                                {{ order.total | formatPrice }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </b-modal>
    </div>
</template>

<script>
import {ORDER_STATUS_DEFINE, ORDER_STATUS_DEFINE_CSS} from "../../../../option/orderOption";

export default {
    name: "ModalShowCarRental",
    props: {
        order: {
            type: Array,
            default: () => {
                return [];
            }
        }
    },
    data() {
        return {
            ORDER_STATUS_DEFINE: ORDER_STATUS_DEFINE,
            ORDER_STATUS_DEFINE_CSS: ORDER_STATUS_DEFINE_CSS
        }
    }
}
</script>

<style scoped>

</style>
