<template>
    <div>
        <ValidationObserver v-slot="{ handleSubmit }" ref="form">
            <form class="form" @submit.prevent="handleSubmit(onSubmit)">
                <div class="d-flex justify-content-center mb-6">
                    <h3>Thông tin khách hàng</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cửa hàng<span class="text-danger">(*)</span></label>
                            <ValidationProvider vid="store_id" name="Cửa hàng xe"
                                                rules="required"
                                                v-slot="{ errors,classes }">
                                <el-select
                                    @change="changeStore()"
                                    v-model="order.store_id"
                                    :class="classes" clearable
                                    filterable class="w-100"
                                    placeholder="Chọn cửa hàng">
                                    <el-option
                                        v-for="item in stores"
                                        :key="item.name"
                                        :label="item.store_name"
                                        :value="item.id"
                                    >
                                    </el-option>
                                </el-select>
                                <error-message :errors="errors" field="store_id"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tên khách hàng <span class="text-danger">(*)</span></label>
                            <ValidationProvider vid="name" name="Tên khách hàng"
                                                rules="required"
                                                v-slot="{ errors,classes }">
                                <el-input
                                    placeholder="Tên khách hàng"
                                    v-model="order.customer_name"
                                    :class="classes"
                                ></el-input>
                                <error-message :errors="errors" field="name"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>SĐT</label>
                            <ValidationProvider vid="phone" name="Số điện thoại khách hàng"
                                                rules="required|numeric"
                                                v-slot="{ errors,classes }">
                                <el-input
                                    placeholder="SĐT khách hàng"
                                    v-model="order.customer_phone"
                                    :class="classes"
                                ></el-input>
                                <error-message :errors="errors" field="phone"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Số CMTND/CCCD</label>
                            <ValidationProvider vid="cccd" name="Số CMTND/CCCD"
                                                rules="required|numeric"
                                                v-slot="{ errors,classes }">
                                <el-input
                                    placeholder="Số CMTND/CCCD"
                                    v-model="order.customer_id_card"
                                    :class="classes"
                                    @input="searchCustomer"
                                ></el-input>
                                <error-message :errors="errors" field="cccd"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <ValidationProvider vid="customer_address" name="Địa chỉ"
                                                rules=""
                                                v-slot="{ errors,classes }">
                                <el-input
                                    clearable
                                    placeholder="Địa chỉ khách hàng"
                                    v-model="order.customer_address"
                                    :class="classes"
                                ></el-input>
                                <error-message :errors="errors" field="customer_address"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                </div>
                <el-divider></el-divider>
                <div class="d-flex justify-content-center mb-6">
                    <h3>Thông tin phương tiện</h3>
                </div>
                <div class="mb-3 d-flex flex-grow-1 align-items-center bg-hover-light p-4 rounded"
                     @click="addVehicle()">
                    <div class="mr-4 flex-shrink-0 text-center">
                        <i class="icon-xl fas fa-plus"></i>
                    </div>
                    <div class="text-muted">Thêm phương tiện</div>
                </div>
                <div v-for="(item, key) in items" :key="key">
                    <items-order :ref="'itemOrder-'+ key" :vehicles="vehicles" :index="key"
                                 @deleteVehicle="deleteVehicle" @accountMoney="accountMoney"
                                 :total-price="totalPrices[key].total_price"></items-order>
                </div>
                <div class="d-flex justify-content-center mb-6 mt-6">
                    <h3>Chi phí</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="paid">Thu Khách</label>
                        <ValidationProvider name="Số tiền thu khách" rules="min_value:0" mode="lazy"
                                            v-slot="{ errors,classes }" vid="amount">
                            <money id="paid" v-model="order.amount" v-bind="money" @input="changeAmount"
                                   class="form-control"
                                   :class="classes"></money>
                            <error-message :errors="errors" field="amount"></error-message>
                        </ValidationProvider>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="total">Phí thuê</label>
                        <money id="total" v-model="order.total" v-bind="money" class="form-control"
                               :disabled="true"></money>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="debt" v-if="order.debt >= 0">Tạm tính còn nợ</label>
                        <label for="debt" v-else>Tạm tính hoàn trả khách</label>
                        <money id="debt" v-model="order.debt" v-bind="money" class="form-control"
                               :disabled="true"></money>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="note">Ghi chú</label>
                        <el-input class="w-100" placeholder="Ghi chú hợp đồng" id="note" type="textarea"
                                  v-model="order.note"></el-input>
                    </div>
                </div>
                <div class="card-toolbar mt-3 d-flex justify-content-center">
                    <el-button native-type="submit" class="btn btn-success mr-2" style="color: #fff" :loading="loading"
                               :disabled="disabledBtn">
                        Lưu hợp đồng
                    </el-button>
                </div>
            </form>
        </ValidationObserver>
    </div>
</template>

<script>
import {Money} from 'v-money';
import ErrorMessage from "../../common/ErrorMessage";
import ItemsOrder from "./ItemsOrder";
import {STORE_GET_ALL} from "@/core/services/store/store.module";
import {VEHICLE_GET_ALL, PRICE_VEHICLES_INDEX} from "@/core/services/store/vehicle.module";
import {CREATE_ORDER_CAR_RENTAL} from "../../../../core/services/store/order.module";
import {SEARCH_CUSTOMER_ID_CARD} from "../../../../core/services/store/customers.module";
import moment from "moment";
import {mapGetters} from "vuex";

export default {
    name: "OrderCreate",
    components: {
        ErrorMessage,
        ItemsOrder,
        Money
    },
    data() {
        return {
            order: {
                store_id: '',
                customer_name: '',
                customer_phone: '',
                customer_id_card: '',
                customer_address: '',
                note_item: '',
                note: '',
                amount: 0,
                total: 0,
                debt: 0,
            },
            stores: [],
            vehicles: [],
            priceVehicles: [],
            totalPrices: [{total_price: 0}],
            items: [{
                vehicle_id: '',
                borrow_hats: 0,
                rent_at: '',
                return_at: '',
                is_all_in_one: false,
                other_account: 0,
                money_out_date: 0,
                price_id: 0,
                total_money: 0,
                type: 'day',
                vehicle: {}
            }],
            itemsCreate: [{vehicle_id: ''}],
            loading: false,
            disabledBtn: false,
            /* v-money */
            money: {
                decimal: ',',
                thousands: ',',
                prefix: '',
                suffix: ' VNĐ',
                precision: 0,
                masked: false,
            },
            customer: {},
            disabledStoreSelect: false,
        }
    },
    async created() {
        await this.getStore();
        await this.getListVehicles();
        this.getListVehiclesPrice();
    },
    computed: {
        ...mapGetters(["currentUser"])
    },
    methods: {
        setStore() {
            if (this.currentUser.store_id) {
                this.order.store_id = this.currentUser.store_id;
                this.disabledStoreSelect = true;
            }
        },
        onSubmit() {
            this.loading = true;
            let params = {
                ...this.order,
                items: this.itemsCreate.map((item) => {
                    return {
                        ...item,
                        return_at: moment(item.return_at).format('YYYY-MM-DD HH:mm:ss'),
                        rent_at: moment(item.rent_at).format('YYYY-MM-DD HH:mm:ss'),
                    }
                })
            };
            this.$store.dispatch(CREATE_ORDER_CAR_RENTAL, params).then((res) => {
                this.$emit('createSuccess');
                this.items = [{vehicle_id: ''}];
                this.order = {
                    store_id: '',
                    customer_name: '',
                    customer_phone: '',
                    customer_id_card: '',
                    customer_address: '',
                    note_item: '',
                    note: '',
                    amount: 0,
                    total: 0,
                    debt: 0,
                }
                this.totalPrices = [{total_price: 0}];
                this.noticeMessage('success', 'Thành công', res.data?.message);
            }).catch(() => {
                this.noticeMessage('error', 'Thất bại', 'Căn cước đã tồn tại')
            }).finally(() => this.loading = false)
        },
        changeAmount() {
            this.order.debt = this.order.total - this.order.amount;
        },
        async getStore() {
            await this.$store.dispatch(STORE_GET_ALL, {}).then((data) => {
                this.stores = data.data;
                this.setStore();
            });
        },
        async getListVehicles() {
            let params = {
                // store_id: this.order.store_id,
                status: "ready",
                is_all: true
            }
            await this.$store.dispatch(VEHICLE_GET_ALL, params).then(data => {
                this.vehicles = data.data;
            });
        },
        getListVehiclesPrice() {
            this.$store.dispatch(PRICE_VEHICLES_INDEX, {}).then(data => {
                this.priceVehicles = data.data;
            });
        },
        changeStore() {
            this.items = [{vehicle_id: ''}];
            this.itemsCreate = [{vehicle_id: ''}];
            this.totalPrices = [{total_price: 0}];
            this.$refs['itemOrder-0'][0].refreshValue();
        },
        addVehicle() {
            this.items.push({vehicle_id: ''});
            this.itemsCreate.push({vehicle_id: ''});
            this.totalPrices.push({total_price: 0});
        },
        deleteVehicle(index) {
            this.items.splice(index, 1);
            this.itemsCreate.splice(index, 1);
            this.totalPrices.splice(index, 1);
            this.order.total = this.totalPrices.reduce((result, priceItem) => result + Number(priceItem.total_price), 0);
        },
        accountMoney(item, index) {
            const _MS_PER_DAY = 1000 * 60 * 60 * 24;
            let remainHours = Math.ceil((item.return_at - item.rent_at) / (3600 * 1000) % 24);
            let rangeDays = Math.floor((item.return_at - item.rent_at) / _MS_PER_DAY);
            let priceVehicle;
            let moneyRemainHours = 0;
            if (remainHours > 0 && remainHours < 8) {
                switch (item.vehicle.type) {
                    case 'xeso' :
                    case 'xega' :
                        moneyRemainHours = remainHours * 15000;
                        break;
                    case 'xecon' :
                        moneyRemainHours = remainHours * 25000;
                        break;
                    case 'sh':
                        moneyRemainHours = remainHours * 35000;
                        break;
                }
            } else if (remainHours >= 8) {
                rangeDays += 1;
            }
            if (item.is_all_in_one) {
                priceVehicle = this.priceVehicles.find((current) => {
                    return current.from_date <= rangeDays && current.to_date >= rangeDays && current.type === item.vehicle.type && current.price_type === 'total';
                });
            } else {
                priceVehicle = this.priceVehicles.find((current) => {
                    return current.from_date <= rangeDays && current.to_date >= rangeDays && current.type === item.vehicle.type && current.price_type === 'day';
                });
            }
            item.type = item.is_all_in_one ? 'total' : 'day';
            this.itemsCreate[index] = item;
            if (!priceVehicle) {
                this.order.total = this.itemsCreate.reduce((result, item) => result + item.other_account, 0);
                this.totalPrices[index]['total_price'] = 0;
                // this.$message.warning('Không tìm thấy giá tại bảng giá. Vui lòng cập nhật tại bảng giá');
                return;
            }
            let price = item.is_all_in_one ? priceVehicle.price : priceVehicle.price * rangeDays;
            priceVehicle.total_price = Number(price) + moneyRemainHours;
            priceVehicle.other_account = item.other_account;
            item.price_id = priceVehicle.id;
            item.total_money = Number(price);
            item.type = priceVehicle.price_type;
            this.itemsCreate[index] = item;
            this.totalPrices[index] = priceVehicle;
            this.order.total = this.totalPrices.reduce((result, priceItem) => result + (priceItem.other_account ? priceItem.other_account : Number(priceItem.total_price)), 0);
        },
        searchCustomer() {
            if (this.order.customer_id_card) {
                this.$store.dispatch(SEARCH_CUSTOMER_ID_CARD, {id_card: this.order.customer_id_card}).then((res) => {
                    this.customer = res.data;
                    if (this.customer?.status === 2) {
                        this.disabledBtn = true;
                        this.$message.warning('Khách hàng đã có cảnh báo không thể tạo hợp đồng!')
                    } else {
                        this.disabledBtn = false;
                    }
                })
            }
        }
    }
}
</script>

<style>
.delete-vehicle {
    position: absolute;
    left: 178px;
    top: 2px !important;
    font-size: 10px;
    cursor: pointer;
    z-index: 10;
}

.list-vehicles {
    position: relative;
}

.fa-minus-circle:hover {
    color: red;
}
</style>
