<template>
    <div v-loading="loadingComponent">
        <ValidationObserver v-slot="{ handleSubmit }" ref="form">
            <form class="form" @submit.prevent="handleSubmit(onSubmit)">
                <div class="d-flex justify-content-center mb-6">
                    <h3>Thông tin khách hàng</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cửa hàng xe <span class="text-danger">(*)</span></label>
                            <ValidationProvider vid="store_id" name="Cửa hàng xe"
                                                rules="required"
                                                v-slot="{ errors,classes }">
                                <el-select @change="changeStore()" v-model="order.store_id" :class="classes" clearable
                                           filterable class="w-100" placeholder="Chọn cửa hàng">
                                    <el-option
                                        v-for="item in stores"
                                        :key="item.name"
                                        :label="item.store_name"
                                        :value="item.id"
                                    >
                                    </el-option>
                                </el-select>
                                <error-message :errors="errors" field="store_id"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tên khách hàng <span class="text-danger">(*)</span></label>
                            <ValidationProvider vid="name" name="Tên khách hàng"
                                                rules="required"
                                                v-slot="{ errors,classes }">
                                <el-input
                                    placeholder="Tên khách hàng"
                                    v-model="order.customer_name"
                                    :class="classes"
                                ></el-input>
                                <error-message :errors="errors" field="name"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>SĐT</label>
                            <ValidationProvider vid="phone" name="Số điện thoại khách hàng"
                                                rules="required|numeric"
                                                v-slot="{ errors,classes }">
                                <el-input
                                    placeholder="SĐT khách hàng"
                                    v-model="order.customer_phone"
                                    :class="classes"
                                ></el-input>
                                <error-message :errors="errors" field="phone"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Số CMTND/CCCD</label>
                            <ValidationProvider vid="cccd" name="Số CMTND/CCCD"
                                                rules="required|numeric"
                                                v-slot="{ errors,classes }">
                                <el-input
                                    placeholder="Số CMTND/CCCD"
                                    v-model="order.customer_id_card"
                                    :class="classes"
                                ></el-input>
                                <error-message :errors="errors" field="cccd"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <ValidationProvider vid="customer_address" name="Địa chỉ"
                                                rules=""
                                                v-slot="{ errors,classes }">
                                <el-input
                                    clearable
                                    placeholder="Địa chỉ khách hàng"
                                    v-model="order.customer_address"
                                    :class="classes"
                                ></el-input>
                                <error-message :errors="errors" field="customer_address"></error-message>
                            </ValidationProvider>
                        </div>
                    </div>
                </div>
                <el-divider></el-divider>
                <div class="d-flex justify-content-center mb-6">
                    <h3>Thông tin phương tiện</h3>
                </div>
                <div class="mb-3 d-flex flex-grow-1 align-items-center bg-hover-light p-4 rounded"
                     @click="addVehicle()">
                    <div class="mr-4 flex-shrink-0 text-center">
                        <i class="icon-xl fas fa-plus"></i>
                    </div>
                    <div class="text-muted">Thêm phương tiện</div>
                </div>
                <div v-for="(item, key) in items" :key="key">
                    <items-order :order_item="item" :ref="'itemOrder-'+ key" :vehicles="vehicles" :index="key"
                                 @deleteVehicle="deleteVehicle" @accountMoney="accountMoney"
                                 :total-price="totalPrices[key].total_price"></items-order>
                </div>
                <div class="d-flex justify-content-center mb-6 mt-6">
                    <h3>Chi phí</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="paid">Tổng thu (Thu khách + Gia hạn thêm)</label>
                        <ValidationProvider name="Tổng thu (Thu khách + Gia hạn thêm)" rules="min_value:0" mode="lazy"
                                            v-slot="{ errors,classes }" vid="amount">
                            <money disabled="" id="paid" v-model="total_in" v-bind="money" @input="changeAmount"
                                   class="form-control"
                                   :class="classes"></money>
                            <error-message :errors="errors" field="amount"></error-message>
                        </ValidationProvider>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="paid">Thu Khách</label>
                        <ValidationProvider name="Số tiền thu khách" rules="min_value:0" mode="lazy"
                                            v-slot="{ errors,classes }" vid="amount">
                            <money id="paid" v-model="order.amount" v-bind="money" @input="changeAmount"
                                   class="form-control"
                                   :class="classes"></money>
                            <error-message :errors="errors" field="amount"></error-message>
                        </ValidationProvider>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="total">Phí thuê</label>
                        <money id="total" :value="order.total" v-bind="money" class="form-control"
                               :disabled="true"></money>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="debt" v-if="order.debt >= 0">Tạm tính còn nợ</label>
                        <label for="debt" v-else>Tạm tính hoàn trả khách</label>
                        <money id="debt" :value="order.debt" v-bind="money" class="form-control"
                               :disabled="true"></money>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="note">Ghi chú</label>
                        <el-input class="w-100" placeholder="Ghi chú hợp đồng" id="note" type="textarea"
                                  v-model="order.note"></el-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="warning">Cảnh báo</label>
                        <el-input class="w-100" placeholder="Cảnh báo khách hàng" id="warning" type="textarea"
                                  v-model="order.warning"></el-input>
                    </div>
                </div>
                <el-collapse accordion>
                    <el-collapse-item name="1">
                        <template slot="title"> Xem lịch sử<i class="header-icon el-icon-info"></i>
                        </template>
                        <el-tabs type="card">
                            <!--                            <el-tab-pane>-->
                            <!--                                <span slot="label"><i class="el-icon-date"></i> Gia hạn</span>-->
                            <!--                                <extend-history :extend-data="extendLogs"></extend-history>-->
                            <!--                            </el-tab-pane> -->
                            <!--                            <el-tab-pane>-->
                            <!--                                <span slot="label"><i class="el-icon-date"></i>Gia hạn</span>-->
                            <!--                                <AddOnHistory :data="order.add_on_orders"></AddOnHistory>-->
                            <!--                            </el-tab-pane>-->
                            <el-tab-pane label="Lịch sử thanh toán">
                                <transaction-history
                                    :transaction-logs="transactionLogs"
                                    @reload="showOrder"
                                ></transaction-history>
                            </el-tab-pane>
                            <el-tab-pane label="Lịch sử đơn hàng">
                                <activity-history :activity-logs="activityLogs"></activity-history>
                            </el-tab-pane>
                        </el-tabs>
                    </el-collapse-item>
                </el-collapse>
                <div class="card-toolbar mt-3 d-flex justify-content-center"
                     v-if="order.order_status === 'renting' || currentUser.role_id === 1">
                    <el-button native-type="button" class="btn btn-sm btn-info mr-2" @click="completeOrder"
                               style="color: #fff" :loading="loadingComplete">
                        Hoàn thành
                    </el-button>
                    <el-button native-type="submit" class="btn btn-sm btn-success mr-2" style="color: #fff"
                               :loading="loading">
                        Cập nhật
                    </el-button>
                    <ModalAddOnPrice
                        v-if="order.order_status !== HOAN_THANH"
                        :order="order"
                        @addOnSuccess="addOnSuccess"
                    ></ModalAddOnPrice>
                </div>
            </form>
        </ValidationObserver>

    </div>
</template>

<script>
import {Money} from 'v-money';
import ErrorMessage from "../../common/ErrorMessage";
import ItemsOrder from "./ItemsOrder";
// import ExtendHistory from "./ExtendHistory";
import ActivityHistory from "./ActivityHistory";
import TransactionHistory from "./TransactionHistory";
import {STORE_GET_ALL} from "@/core/services/store/store.module";
import {VEHICLE_GET_ALL, PRICE_VEHICLES_INDEX} from "@/core/services/store/vehicle.module";
import {
    UPDATE_ORDER_CAR_RENTAL,
    SHOW_ORDER_CAR_RENTAL,
    COMPLETE_ORDER
} from "../../../../core/services/store/order.module";
import moment from "moment";
import {mapGetters} from "vuex";
import ModalAddOnPrice from "./ModalAddOnPrice";
import {GIA_HAN_THEM, HOAN_THANH} from "../../../../option/orderOption";
// import AddOnHistory from "./AddOnHistory";

export default {
    name: "OrderUpdate",
    props: {
        id: {
            type: Number,
            default: () => {
                return 0
            }
        }
    },
    components: {
        // AddOnHistory,
        ModalAddOnPrice,
        ErrorMessage,
        ItemsOrder,
        Money,
        // ExtendHistory,
        ActivityHistory,
        TransactionHistory
    },
    watch: {
        'order.amount': {
            handler() {
                let total_addon = 0;
                for (let i = 0; i < this.order.transactions.length; i++) {
                    let item = this.order.transactions[i];
                    if (item.type == GIA_HAN_THEM) {
                        total_addon = total_addon + item.value;
                    }
                }
                this.total_in = total_addon + this.order.amount;
            },
            deep: true
        }
    },
    data() {
        return {
            HOAN_THANH: HOAN_THANH,
            order: {
                store_id: '',
                customer_name: '',
                customer_phone: '',
                customer_id_card: '',
                customer_address: '',
                warning: '',
                note: '',
                amount: 0,
                total: 0,
                debt: 0,
            },
            total_in: 0,
            stores: [],
            vehicles: [],
            priceVehicles: [],
            totalPrices: [{total_price: 0}],
            items: [{
                vehicle_id: '',
            }],
            itemsUpdate: [{
                vehicle_id: '',
            }],
            loading: false,
            loadingComplete: false,
            loadingComponent: false,
            /* v-money */
            money: {
                decimal: ',',
                thousands: ',',
                prefix: '',
                suffix: ' VNĐ',
                precision: 0,
                masked: false,
            },
            activityLogs: [],
            transactionLogs: [],
            extendLogs: [],
        }
    },
    computed: {
        ...mapGetters(["currentUser"])
    },
    async created() {
        if (this.id) {
            await this.showOrder();
        }
        await this.getStore();
        this.getListVehicles();
        this.getListVehiclesPrice();
    },
    methods: {
        addOnSuccess() {
            this.$emit('updateSuccess');
        },
        onSubmit() {
            this.loading = true;
            let payload = {
                id: this.id,
                params: {
                    ...this.order,
                    items: this.itemsUpdate.map((item) => {
                        return {
                            ...item,
                            return_at: moment(item.return_at).format('YYYY-MM-DD HH:mm:ss'),
                            rent_at: moment(item.rent_at).format('YYYY-MM-DD HH:mm:ss'),
                        }
                    })
                }
            };
            this.$store.dispatch(UPDATE_ORDER_CAR_RENTAL, payload).then((res) => {
                this.$emit('updateSuccess');
                this.noticeMessage('success', 'Thành công', res.data?.message)
            }).catch((err) => {
                this.noticeMessage('error', 'Thất bại', err.data?.message)
            }).finally(() => this.loading = false)
        },

        async showOrder() {
            this.loadingComponent = true;
            await this.$store.dispatch(SHOW_ORDER_CAR_RENTAL, this.id).then((res) => {
                this.order = {
                    ...res.data,
                    customer_name: res.data.customer.name,
                    warning: res.data.customer.warning,
                    customer_phone: res.data.customer.phone,
                    customer_id_card: res.data.customer.id_card,
                    customer_address: res.data.customer.address,
                    amount: res.data.pid,
                    debt: res.data.total - res.data.pid,
                };
                this.items = res.data.order_items;
                this.totalPrices = res.data.order_items.map((order_item) => {
                    return {total_price: order_item.total_money}
                });
                this.changeAmount();
                this.transactionLogs = res.data.transactions;
                this.activityLogs = res.data.activity_logs;
            }).finally(() => this.loadingComponent = false)
        },
        async getStore() {
            await this.$store.dispatch(STORE_GET_ALL, {}).then((data) => {
                this.stores = data.data;
            });
        },
        changeAmount() {
            this.order.debt = this.order.total - this.order.amount;
        },
        getListVehicles() {
            let params = {
                // store_id: this.order.store_id,
                is_all: true
            }
            this.$store.dispatch(VEHICLE_GET_ALL, params).then(data => {
                this.vehicles = data.data;
            });
        },
        getListVehiclesPrice() {
            this.$store.dispatch(PRICE_VEHICLES_INDEX, {}).then(data => {
                this.priceVehicles = data.data;
            });
        },
        changeStore() {
            this.items = [{vehicle_id: ''}];
            this.itemsUpdate = [{vehicle_id: ''}];
            this.totalPrices = [{total_price: 0}];
            this.$refs['itemOrder-0'][0].refreshValue();
        },
        addVehicle() {
            this.items.push({vehicle_id: ''});
            this.itemsUpdate.push({vehicle_id: ''});
            this.totalPrices.push({total_price: 0});
        },
        deleteVehicle(index) {
            this.items.splice(index, 1);
            this.itemsUpdate.splice(index, 1);
            this.totalPrices.splice(index, 1);
            this.order.total = this.totalPrices.reduce((result, priceItem) => result + Number(priceItem.total_price), 0);
        },
        accountMoney(item, index) {
            const _MS_PER_DAY = 1000 * 60 * 60 * 24;
            let remainHours = Math.floor((item.return_at - item.rent_at) / (3600 * 1000) % 24);
            let rangeDays = Math.floor((item.return_at - item.rent_at) / _MS_PER_DAY);
            let priceVehicle;
            let moneyRemainHours = 0;
            if (remainHours > 0 && remainHours < 8) {
                switch (item.vehicle.type) {
                    case 'xeso' :
                    case 'xega' :
                        moneyRemainHours = remainHours * 15000;
                        break;
                    case 'xecon' :
                        moneyRemainHours = remainHours * 25000;
                        break;
                    case 'sh':
                        moneyRemainHours = remainHours * 35000;
                        break;
                }
            } else if (remainHours >= 8) {
                rangeDays += 1;
            }
            if (item.is_all_in_one) {
                priceVehicle = this.priceVehicles.find((current) => {
                    return current.from_date <= rangeDays && current.to_date >= rangeDays && current.type === item.vehicle.type && current.price_type === 'total';
                });
            } else {
                priceVehicle = this.priceVehicles.find((current) => {
                    return current.from_date <= rangeDays && current.to_date >= rangeDays && current.type === item.vehicle.type && current.price_type === 'day';
                });
            }
            item.type = item.is_all_in_one ? 'total' : 'day';
            this.itemsUpdate[index] = item;
            if (!priceVehicle) {
                this.order.total = this.itemsUpdate.reduce((result, item) => result + item.other_account, 0);
                return;
            }

            let price = item.is_all_in_one ? priceVehicle.price : priceVehicle.price * rangeDays;
            priceVehicle.total_price = Number(price) + moneyRemainHours;
            priceVehicle.other_account = item.other_account;
            priceVehicle.money_out_date = item.money_out_date;
            item.price_id = priceVehicle.id;
            item.total_money = Number(price);
            item.type = priceVehicle.price_type;
            this.itemsUpdate[index] = item;
            this.totalPrices[index] = priceVehicle;
            this.order.total = this.totalPrices.reduce((result, priceItem) => result + (priceItem.other_account ? priceItem.other_account : Number(priceItem.total_price) + priceItem.money_out_date), 0);
        },

        completeOrder() {
            this.loadingComplete = true;
            this.$store.dispatch(COMPLETE_ORDER, this.id).then((res) => {
                this.$emit('updateSuccess');
                this.noticeMessage('success', 'Thành công', res.data?.message);
            }).catch((err) => {
                this.noticeMessage('error', 'Thất bại', err.data?.message);
            }).finally(() => this.loadingComplete = false)
        },
    }
}
</script>

<style>
.delete-vehicle {
    position: absolute;
    left: 178px;
    top: 2px !important;
    font-size: 10px;
    cursor: pointer;
    z-index: 10;
}

.list-vehicles {
    position: relative;
}

.fa-minus-circle:hover {
    color: red;
}
</style>
