<template>
    <div class="w-100">
        <table class="table text-center table-vertical-center table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Mã giao dịch</th>
                <th scope="col">Ngày giao dịch</th>
                <th scope="col">Loại tiền</th>
                <th scope="col">Số tiền</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody v-if="transactionLogs.length">
            <tr v-for="(item, index) in transactionLogs" :key="index">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.created_at }}</td>
                <td>{{ TRANSACTION_TYPE[item.type] }}</td>
                <td>{{ item.value | formatPrice }}</td>
                <td>{{ item.note }}</td>
                <td>
                    <a v-if="item.type == GIA_HAN_THEM" title="Xóa" @click="deleteTransaction(item.id)" href="javascript:"
                       class="btn btn-xs btn-icon btn-outline-danger"><i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tbody v-else>
            <tr>
                <td scope="row" colspan="6">Hợp đồng chưa có giao dịch</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import {GIA_HAN_THEM, TRANSACTION_TYPE} from "../../../../option/orderOption";
import Swal from "sweetalert2";
import {TRANSACTION_DELETE} from "../../../../core/services/store/transaction.module";

export default {
    name: "TransactionHistory",
    props: {
        transactionLogs: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            TRANSACTION_TYPE: TRANSACTION_TYPE,
            GIA_HAN_THEM: GIA_HAN_THEM,
        }
    },
    methods: {
        deleteTransaction(id) {
            Swal.fire({
                title: "Bạn chắc chắn muốn huỷ?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Không",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$store.dispatch(TRANSACTION_DELETE, id).then((data) => {
                        this.$message.success(data.message);
                        this.$emit('reload');
                    }).catch((err) => {
                        this.$message.error(err.data.message);
                    });
                }
            });

        },
    }
}
</script>

<style scoped>

</style>
