<template>
    <div>
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Danh sách hợp đồng</h3>
                </div>
                <div class="card-title">
                    <button class="btn btn-success" @click="openModalCreate()">Thêm mới hợp đồng</button>
                </div>
            </div>
            <div class="card-body">
                <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
                    <div class="alert-text">
                        <div class="row">
                            <div class="col-md-3 d-flex align-items-center">
                                <p class="font-weight-bold">Tổng số hợp đồng: <span
                                    class="font-weight-bold">{{ reports.total_order }}</span></p>
                            </div>
                            <div class="col-md-3">
                                <p class="font-weight-bold">Hoàn thành: <span
                                    class="font-weight-bold">{{ reports.total_contracts_completed }}</span></p>
                                <p class="font-weight-bold">Đang thuê: <span
                                    class="font-weight-bold">{{ reports.total_contracts_renting }}</span></p>
                                <p class="text-danger font-weight-bold">Quá hạn: <span
                                    class="font-weight-bold">{{ reports.total_out_of_date }}</span></p>
                            </div>
                            <div class="col-md-3">
                                <p class="font-weight-bold">Tổng thu: <span
                                    class="font-weight-bold">{{ reports.total_price | formatPrice }}</span></p>
                                <p class="font-weight-bold">Trả khách: <span
                                    class="font-weight-bold">{{ reports.total_refund_customer | formatPrice }}</span>
                                </p>
                                <p class="font-weight-bold">Lợi nhuận: <span
                                    class="font-weight-bold">{{ reports.total_price_profit | formatPrice }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="example">
                    <div class="row mb-10">
                        <div class="col-md-2">
                            <el-input clearable placeholder="Tên,SĐT hoặc biển số..."
                                      v-model="query.keyword"></el-input>
                        </div>
                        <div class="col-md-2">
                            <el-select v-model="query.store_id" filterable clearable placeholder="Chọn cửa hàng"
                                       class="w-100">
                                <el-option
                                    v-for="item in stores"
                                    :key="item.id"
                                    :label="item.store_name"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-md-2">
                            <el-select v-model="query.order_status" filterable clearable placeholder="Chọn trạng thái"
                                       class="w-100">
                                <el-option
                                    v-for="item in ORDER_STATUS"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-md-2">
                            <el-date-picker
                                class="w-100"
                                v-model="query.start_date"
                                type="date"
                                format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"
                                @change="pickStart"
                                :picker-options="pickerStartOptions"
                                placeholder="Từ ngày">
                            </el-date-picker>
                        </div>
                        <div class="col-md-2">
                            <el-date-picker
                                class="w-100"
                                v-model="query.end_date"
                                type="date"
                                ref="picker"
                                :onPick="pickEnd"
                                format="yyyy-MM-dd"
                                @change="pickEnd"
                                value-format="yyyy-MM-dd"
                                :picker-options="pickerEndOptions"
                                placeholder="Đến ngày">
                            </el-date-picker>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-end">
                            <el-checkbox v-model="query.is_out_of_date" @change="changeOutOfDate"><span
                                class="badge badge-danger">Hợp đồng quá hạn</span></el-checkbox>
                        </div>
                        <div class="col-md-2 mt-4">
                            <el-button :loading="loading" icon="fa fa-search"
                                       class=" btn btn-primary font-weight-bold mr-2"
                                       @click="searchData">
                                Tìm kiếm
                            </el-button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-vertical-center table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Khách hàng</th>
                                <th scope="col">Xe</th>
                                <th scope="col" class="min-w-300px">Thời gian</th>
                                <th scope="col">Ghi chú</th>
                                <th scope="col" class="min-w-120px">Chi phí</th>
                                <th scope="col" class="min-w-130px">Trạng thái</th>
                                <th scope="col" class="min-w-120px">Hành động</th>
                            </tr>
                            </thead>
                            <tbody v-if="orders.length">
                            <tr v-for="(item, index) in orders" :key="index">
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.created_at }}</td>
                                <td>
                                    <span>{{ item.customer_name }}<br></span>
                                    <span>{{ item.customer_phone }}<br></span>
                                    <span class="label label-inline label-light-primary font-weight-bold">
                                       {{ item.store ? item.store.store_name : '' }}
                                    </span>
                                </td>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <div class="badge badge-primary" v-for="(vehicle, key) in item.vehicles"
                                             :key="key" :class="key ? 'mt-2': ''">
                                            {{ vehicle.name }} - {{ vehicle.license }} <br/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <div class="d-inline" v-for="(orderItem, key) in item.orderItems" :key="key"
                                             :class="key ? 'mt-2': ''">
                                            <span>Từ {{
                                                    orderItem.rent_at | formatDate
                                                }} đến {{ orderItem.return_at | formatDate }} </span> <br/>
                                            <div class="badge badge-info">{{ countDateAndHours(orderItem) }} ngày</div>
                                            <span v-if="item.out_date && item.orderItems.length == key +1"
                                                  class="badge badge-danger"><span
                                                v-if="item.out_date !== 'Đến giờ trả xe'">Quá hạn:</span> {{
                                                    item.out_date
                                                }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td :title="item.note">{{ getDesc(item.note) }}</td>
                                <td>
                                    <div>
                                        Đặt cọc: <span class="text-danger">{{ item.pid | formatPrice }}</span>
                                    </div>
                                    <div>
                                        <span v-if="item.order_status !== STATUS_COMPLETED">Tạm tính:</span>
                                        <span v-else>Thành tiền:</span>
                                        <span class="text-danger">{{
                                                (parseInt(item.total) + parseInt(item.total_addon)) | formatPrice
                                            }}</span>
                                    </div>
                                </td>
                                <td>
                                    <span class="font-weight-bold" :class="ORDER_STATUS_DEFINE_CSS[item.order_status]">
                                        {{ ORDER_STATUS_DEFINE[item.order_status] }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-xs btn-icon btn-success" title="Sửa hợp đồng"
                                            @click="openUpdateModal(item)"
                                    >
                                        <i class="fas fa-pen-nib"></i>
                                    </button>
                                    <!--                                    <button class="btn btn-sm btn-primary" title="Thanh toán hợp đồng" @click="openPaymentModal(item)">-->
                                    <!--                                        <i class="fas fa-hand-holding-usd"></i>-->
                                    <!--                                    </button>-->
                                    <button
                                        v-b-modal.modal-show-car-rental
                                        class="btn btn-xs btn-icon btn-outline-info"
                                        title="Xem chi tiết"
                                        data-target="#rentalPopup"
                                        @click="order_show = item"
                                    >
                                        <i class="far fa-eye"></i>
                                    </button>
                                    <button class="btn btn-xs btn-icon  btn-danger" title="Xóa hợp đồng"
                                            @click="deleteOrder(item.id)"><i
                                        class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody v-else>
                            <tr>
                                <td scope="row" colspan="9">Không tìm thấy hợp đồng phù hợp</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ModalShowCardRental :order="order_show"></ModalShowCardRental>
            <b-modal title="Tạo hợp đồng" size="xl" ref="modal-contract-create" :centered="true" :scrollable="true"
                     hide-footer>
                <order-create @createSuccess="createSuccess"></order-create>
            </b-modal>
            <b-modal title="Sửa hợp đồng" size="xl" ref="modal-contract-update" :centered="true" :scrollable="true"
                     hide-footer>
                <order-update :id="orderId" @updateSuccess="updateSuccess"></order-update>
            </b-modal>
            <b-modal title="Thu chi hợp đồng" size="xl" ref="modal-contract-payment" :centered="true" :scrollable="true"
                     hide-footer>
                <order-payment :id="orderId" :order-status="order_status_prop"
                               @paymentSuccess="paymentSuccess"></order-payment>
            </b-modal>
            <div class="edu-paginate mx-auto text-center" v-if="orders.length">
                <paginate
                    v-model="page"
                    :page-count="last_page"
                    :page-range="3"
                    :margin-pages="1"
                    :click-handler="clickCallback"
                    :prev-text="'Trước'"
                    :next-text="'Sau'"
                    :container-class="'pagination b-pagination'"
                    :pageLinkClass="'page-link'"
                    :next-link-class="'next-link-item'"
                    :prev-link-class="'prev-link-item'"
                    :prev-class="'page-link'"
                    :next-class="'page-link'"
                    :page-class="'page-item'"
                >
                </paginate>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment-timezone';
import {SET_BREADCRUMB} from "@/core/services/store/breadcrumbs.module";
import {mapGetters} from "vuex";
import {GET_ORDER_CAR_RENTAL, GET_ORDER_CAR_RENTAL_REPORT} from "@/core/services/store/order.module";
import OrderCreate from "./components-order/OrderCreate";
import OrderUpdate from "./components-order/OrderUpdate";
import OrderPayment from "./components-order/OrderPayment";
import {STORE_GET_ALL} from "@/core/services/store/store.module";
import {ORDER_STATUS} from "@/option/orderOption";
import ModalShowCardRental from "./components-order/ModalShowCarRental";
import {ORDER_STATUS_DEFINE, ORDER_STATUS_DEFINE_CSS, STATUS_COMPLETED} from "../../../option/orderOption";
import {DELETE_ORDER} from "../../../core/services/store/order.module";

export default {
    name: "OrderCarRental",
    data() {
        return {
            ORDER_STATUS_DEFINE: ORDER_STATUS_DEFINE,
            ORDER_STATUS_DEFINE_CSS: ORDER_STATUS_DEFINE_CSS,
            STATUS_COMPLETED: STATUS_COMPLETED,
            moment: moment,
            orders: [],
            order_show: null,
            stores: [],
            page: 1,
            last_page: 1,
            showModalCreate: false,
            loading: false,
            reports: [],
            ORDER_STATUS,
            query: {
                keyword: '',
                store_id: '',
                order_status: '',
                start_date: '',
                end_date: '',
                is_out_of_date: false,
            },
            pickerStartOptions: {
                // disabledDate: this.disabledStartDate
            },
            pickerEndOptions: {
                // disabledDate: this.disabledEndDate
            },
            orderId: 0,
            order_status_prop: '',
        }
    },
    components: {
        ModalShowCardRental,
        OrderCreate, OrderUpdate, OrderPayment
    },
    computed: {
        ...mapGetters(["currentUser"])
    },
    created() {
        this.calculateDate();
        this.getStore();
        this.getList();
        this.getReport();
    },
    mounted() {
        this.$store.dispatch(SET_BREADCRUMB, [{title: "Đơn hàng"}]);
    },
    methods: {
        getDesc(str) {
            if (str) {
                return (str).replace(/(.{20})..+/, "$1…");
            }
        },
        getList() {
            this.loading = true;
            this.$store.dispatch(GET_ORDER_CAR_RENTAL, {page: this.page, ...this.query}).then((data) => {
                this.orders = data.data;
                this.last_page = data.pagination.last_page
            }).finally(() => this.loading = false)
        },
        getReport() {
            this.is_loading_search = true;
            this.$store.dispatch(GET_ORDER_CAR_RENTAL_REPORT, this.query).then(data => {
                this.reports = data.data;
            });
        },
        getStore() {
            this.$store.dispatch(STORE_GET_ALL, {}).then((data) => {
                this.stores = data.data;
            });
        },
        clickCallback(obj) {
            this.page = obj;
            this.getList();
        },
        searchData() {
            this.pushParamsUrl(this.query);
            this.getList();
            this.getReport();
        },
        openModalCreate() {
            this.showModalCreate = true;
            this.$refs['modal-contract-create'].show();

        },
        openUpdateModal(order) {
            this.orderId = order.id;
            this.$refs['modal-contract-update'].show();
        },
        openPaymentModal(order) {
            this.orderId = order.id;
            this.order_status_prop = order.order_status;
            this.$refs['modal-contract-payment'].show();
        },
        createSuccess() {
            this.showModalCreate = false;
            this.$refs['modal-contract-create'].hide();
            this.getList();
            this.getReport();
        },
        updateSuccess() {
            this.$refs['modal-contract-update'].hide();
            this.getList();
            this.getReport();
        },
        paymentSuccess() {
            this.$refs['modal-contract-payment'].hide();
            this.getList();
            this.getReport();
        },
        changeOutOfDate() {
            if (this.query.is_out_of_date) {
                this.query.order_status = 'renting';
            }
        },
        /* date picker methods */
        pickStart(date) {
            this.fromDate = null;
            if (date) {
                this.fromDate = new Date(date);
            }
        },
        pickEnd(date) {
            this.toDate = null;
            if (date) {
                this.toDate = new Date(date);
            }
        },
        disabledStartDate(date) {
            if (this.toDate) {
                return this.toDate < date
            }
            return date > new Date();
        },
        disabledEndDate(date) {
            if (this.fromDate) {
                return this.fromDate > date || date > new Date();
            }
            return date > new Date();
        },
        calculateDate() {
            let date = new Date();
            this.query.start_date = this.moment().startOf('month').format('YYYY-MM-DD');
            this.query.end_date = this.moment().format('YYYY-MM-DD');
            this.fromDate = new Date(date.getFullYear(), date.getMonth(), 1);
            this.toDate = new Date();
        },
        countDateAndHours(orderItem) {
            let dateRent = new Date(orderItem.rent_at);
            let dateReturn = new Date(orderItem.return_at);
            let diffTime = Math.abs(dateReturn - dateRent);
            return Math.floor(diffTime / (1000 * 60 * 60 * 24));
        },

        deleteOrder(orderId) {
            this.$swal.fire({
                title: 'Bạn có chắc chắn muốn xóa hợp đồng này?',
                showDenyButton: true,
                showCancelButton: false,
                cancelButtonText: "Hủy",
                confirmButtonText: 'Xóa',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$store.dispatch(DELETE_ORDER, orderId).then(() => {
                        this.noticeMessage('success', 'Thành công', 'Xóa hợp đồng thành công');
                        this.getList();
                    });
                }
            })
        },
    }
}
</script>

<style>
.font-weight-bold {
    font-weight: 700 !important;
}
</style>
