<template>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-motorcycle mr-2"></i>Tổng xe
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_vehicle }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-motorcycle mr-2"></i>Đang cho
                        thuê
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_vehicle_using }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-motorcycle mr-2"></i>Đang sẵn
                        sàng
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_vehicle_ready }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-motorcycle mr-2"></i>Xe hỏng
                    </div>
                    <div class="font-size-h4 font-weight-bolder text-danger">{{ reports.total_vehicle_broken }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-sort-amount-up-alt mr-2"></i>Lượt
                        thuê hôm nay
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_order_in_day }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-dollar-sign mr-2"></i>Doanh
                        thu hôm nay
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_profit_in_day | formatPrice }}</div>
                </div>

            </div>
            <div class="row mt-8">
                <div class="col-md-2">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="far fa-user mr-2"></i>Khách hàng
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_customer }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-house-user mr-2"></i>Nhân
                        viên
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_staff }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i
                        class="fas fa-money-bill-wave-alt mr-2"></i>Số hợp đồng quá hạn
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_order_out_date_in_month }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i
                        class="fas fa-money-bill-wave-alt mr-2"></i>Lượt thuê tháng này
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_order_in_month }}</div>
                </div>
                <div class="col-md-2 border-left">
                    <div class="font-size-sm text-muted font-weight-bold"><i class="fas fa-dollar-sign mr-2"></i>Doanh
                        thu tháng này
                    </div>
                    <div class="font-size-h4 font-weight-bolder">{{ reports.total_profit_in_month | formatPrice }}</div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                <zingchart :data="chartData" :theme="chartTheme"></zingchart>
            </div>
        </div>
    </div>
</template>

<script>
import {SET_BREADCRUMB} from "@/core/services/store/breadcrumbs.module";
import {mapGetters} from "vuex";
import {DASHBOARD_REPORT, DASHBOARD_REPORT_CHART} from "../../core/services/store/dashboard.module";
import {zingChartTheme} from "../../core/config/zingChartTheme";

export default {
    name: "dashboard",
    computed: {
        ...mapGetters(["currentUser"]),
    },
    data() {
        return {
            labels: [],
            values: [],
            chartData: {
                type: 'line',
                'scale-x': {
                    labels: [],
                    format: "$%v",
                    negation: "currency"
                },
                series: [
                    {
                        values: []
                    }
                ]
            },
            chartTheme: zingChartTheme,
            reports: []
        }
    },
    mounted() {
        this.$store.dispatch(SET_BREADCRUMB, [{title: "Dashboard"}]);
        this.report();
        this.reportChart();
    },
    methods: {
        report() {
            this.$store.dispatch(DASHBOARD_REPORT, this.query).then(data => {
                this.reports = data.data;
            });
        },
        reportChart() {
            this.$store.dispatch(DASHBOARD_REPORT_CHART, this.query).then(data => {
                this.labels = data.data.labels;
                this.values = data.data.values;

                this.chartData = {
                    type: 'line',
                    'scale-x': {
                        labels: this.labels,
                    },
                    'scale-y': {
                        short: false,
                        'short-unit': "M",
                        'thousands-separator': ","
                    },
                    plot: {
                        'value-box': {
                            'thousands-separator': ","
                        }
                    },
                    series: [
                        {
                            values: this.values
                        }
                    ]
                };
            });
        },
        /**
         * Set current active on click
         * @param event
         */
        setActiveTab(event) {
            // get all tab links
            const tab = event.target.closest('[role="tablist"]');
            const links = tab.querySelectorAll(".nav-link");
            // remove active tab links
            for (let i = 0; i < links.length; i++) {
                links[i].classList.remove("active");
            }

            // set current active tab
            event.target.classList.add("active");

            // set clicked tab index to bootstrap tab
            return parseInt(event.target.getAttribute("data-tab"));
        }
    }
};
</script>
