<template>
    <div class="report-car-rental">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Báo cáo thuê xe</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="d-block">Thời gian tạo</label>
                            <date-picker v-model="query.dates"
                                         type="date"
                                         range
                                         placeholder="Chọn thời gian tạo"
                                         format="DD-MM-YYYY"
                                         valueType="YYYY-MM-DD"
                            ></date-picker>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cửa hàng</label>

                            <el-select
                                filterable
                                class="w-100"
                                placeholder="Cửa hàng"
                                v-model="query.store_id"
                                clearable
                            >
                                <el-option
                                    v-for="item in stores"
                                    :key="item.id"
                                    :label="item.store_name"
                                    :value="item.id"
                                >
                                    <span style="float: left">{{
                                            item.store_name
                                        }}</span>
                                </el-option>
                            </el-select>

                        </div>
                    </div>
                    <div class="col-md-3 mt-8">
                        <button class="btn btn-primary"
                                :class="{'spinner spinner-white spinner-right' : is_loading_search}"
                                @click="search"
                        >Tìm kiếm
                        </button>
                    </div>
                </div>
                <div class="example mb-10">
                    <div class="example-preview table-responsive" v-for="(items, i) in reports" :key="i">
                        <p class="font-weight-bold">Cửa hàng: {{ i }}</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Ngày</th>
                                <th scope="col">Đặt cọc</th>
                                <th scope="col">Trả cọc</th>
                                <th scope="col">Lãi thuê</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in items" :key="index">
                                <td>{{ item.date }}</td>
                                <td>{{ item.in | formatPrice }}</td>
                                <td>{{ item.out | formatPrice }}</td>
                                <td>{{ item.profit | formatPrice }}</td>
                            </tr>
                            <tr>
                                <td>Tổng</td>
                                <td>{{ calcTotalAmountIn(items) | formatPrice }}</td>
                                <td>{{ calcTotalAmountOut(items) | formatPrice }}</td>
                                <td>{{ calcProfit(items) | formatPrice }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {STORE_GET_ALL} from "../../../core/services/store/store.module";
import {REPORT_CAR_RENTAL} from "../../../core/services/store/report.module";
import moment from 'moment-timezone';

const _ = require('lodash');

export default {
    name: "ReportCardRental",
    data() {
        return {
            moment: moment,
            is_loading_search: false,
            reports: [],
            stores: [],
            query: {
                store_id: null,
                dates: [],
            }
        }
    },
    mounted() {
        this.pullParamsUrl();
        this.getDateDefault();
        this.getStore();
        this.report();
    },
    methods: {
        getDateDefault() {
            this.query.dates.push(this.moment().startOf('month').format('YYYY-MM-DD'));
            this.query.dates.push(this.moment().format('YYYY-MM-DD'));
        },
        search() {
            this.pushParamsUrl();
            this.report();
        },
        report() {
            this.$store.dispatch(REPORT_CAR_RENTAL, this.query).then((data) => {
                this.reports = data.data;
                this.calcTotal();
            });
        },
        calcProfit(items) {
            return _.reduce(items, function (result, item, key) {
                result += item.profit;
                return result;
            }, 0);
        },
        calcTotalAmountIn(items) {
            return _.reduce(items, function (result, item, key) {
                result += item.in;
                return result;
            }, 0);
        },
        calcTotalAmountOut(items) {
            return _.reduce(items, function (result, item, key) {
                result += item.out;
                return result;
            }, 0);
        },

        pushParamsUrl() {
            this.$router.push({
                path: '', query: {
                    page: this.page,
                    ...this.query
                }
            })
        },
        pullParamsUrl() {
            // this.query.dates = this.$router.query.dates ? this.$router.query.dates : [];
            // this.query.store_id = this.$router.query.store_id ? this.$router.query.store_id : null;
        },
        getStore() {
            this.$store.dispatch(STORE_GET_ALL, {}).then((data) => {
                this.stores = data.data;
            });
        },

    }
}
</script>

<style scoped>
.mx-datepicker {
    width: 100%;
}
</style>
