<template>
    <ul class="menu-nav">
        <router-link
            to="/dashboard"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li
                aria-haspopup="true"
                data-menu-toggle="hover"
                class="menu-item"
                :class="[
                    isActive && 'menu-item-active',
                    isExactActive && 'menu-item-active'
                ]"
            >
                <a :href="href" class="menu-link" @click="navigate">
                    <i class="menu-icon flaticon2-architecture-and-city"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
        </router-link>

        <router-link
            to="/car-rental"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li aria-haspopup="true" data-menu-toggle="hover" class="menu-item">
                <a :href="href" class="menu-link">
                    <i class="menu-icon fas fa-shopping-cart"></i>
                    <span class="menu-text">Thuê xe</span>
                </a>
            </li>
        </router-link>
        <router-link
            to="/car-sell"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li aria-haspopup="true" data-menu-toggle="hover" class="menu-item">
                <a :href="href" class="menu-link">
                    <i class="menu-icon fas fa-shopping-cart"></i>
                    <span class="menu-text">Bán xe</span>
                </a>
            </li>
        </router-link>
        <router-link
            to="/vehicles"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li aria-haspopup="true" data-menu-toggle="hover" class="menu-item">
                <a :href="href" class="menu-link">
                    <i class="menu-icon fas fa-motorcycle"></i>
                    <span class="menu-text">Quản lý xe</span>
                </a>
            </li>
        </router-link>
        <router-link
            to="/customers"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li aria-haspopup="true" data-menu-toggle="hover" class="menu-item">
                <a :href="href" class="menu-link">
                    <i class="menu-icon far fa-user"></i>
                    <span class="menu-text">Khách hàng</span>
                </a>
            </li>
        </router-link>

        <router-link
            to="/stores"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li aria-haspopup="true" data-menu-toggle="hover" class="menu-item">
                <a :href="href" class="menu-link">
                    <i class="menu-icon flaticon-bag"></i>
                    <span class="menu-text">Cửa hàng</span>
                </a>
            </li>
        </router-link>
        <router-link
            to="/transactions"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li aria-haspopup="true" data-menu-toggle="hover" class="menu-item">
                <a :href="href" class="menu-link">
                    <i class="menu-icon flaticon-price-tag"></i>
                    <span class="menu-text">Thu chi</span>
                </a>
            </li>
        </router-link>
        <router-link
            to="/report/car-rental"
            v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li aria-haspopup="true" data-menu-toggle="hover" class="menu-item">
                <a :href="href" class="menu-link">
                    <i class="menu-icon fas fa-check-double"></i>
                    <span class="menu-text">Báo cáo</span>
                </a>
            </li>
        </router-link>
        <li
            aria-haspopup="true"
            data-menu-toggle="hover"
            class="menu-item menu-item-submenu"
            v-bind:class="{
              'menu-item-open': hasActiveChildren('/vue-bootstrap/button')
            }"
        >
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon fas fa-tools"></i>

                <span class="menu-text">Setting</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu">
                <span class="menu-arrow"></span>
                <ul class="menu-subnav">
                    <li aria-haspopup="true" class="menu-item menu-item-parent">
                  <span class="menu-link">
                    <span class="menu-text"></span>
                  </span>
                    </li>

                    <router-link
                        to="/pricing"
                        v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                            aria-haspopup="true"
                            data-menu-toggle="hover"
                            class="menu-item"
                            :class="[
                      isActive && 'menu-item-active',
                      isExactActive && 'menu-item-active'
                    ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Giá thuê</span>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                        to="/user"
                        v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                            aria-haspopup="true"
                            data-menu-toggle="hover"
                            class="menu-item"
                            :class="[
                      isActive && 'menu-item-active',
                      isExactActive && 'menu-item-active'
                    ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Người dùng</span>
                            </a>
                        </li>
                    </router-link>
                </ul>
            </div>
        </li>

    </ul>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "KTMenu",
    methods: {
        hasActiveChildren(match) {
            return this.$route["path"].indexOf(match) !== -1;
        }
    },
    computed: {
        ...mapGetters(["currentUser"])
    }
};
</script>
