<template>
    <div>
        <div>
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="example mb-10">
                        <div class="example-preview table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Mã giao dịch</th>
                                    <th scope="col" class="min-w-130px">Ngày giao dịch</th>
                                    <th scope="col">Loại giao dịch</th>
                                    <th scope="col">Số tiền</th>
                                    <th scope="col">Ghi chú</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in transactions" :key="index">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.created_at | formatDateTime }}</td>
                                    <td>{{ types[item.type] }}</td>
                                    <td><span :class="{'text-danger' : item.type == 'out'}">{{ item.value | formatPrice }}</span></td>
                                    <td>{{ item.note }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>
                                        <button
                                            class="btn btn-xs btn btn-xs btn-icon  btn-outline-info">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="edu-paginate mx-auto text-center">
                    <paginate
                        v-model="page"
                        :page-count="last_page"
                        :page-range="3"
                        :margin-pages="1"
                        :click-handler="clickCallback"
                        :prev-text="'Trước'"
                        :next-text="'Sau'"
                        :container-class="'pagination b-pagination'"
                        :pageLinkClass="'page-link'"
                        :next-link-class="'next-link-order'"
                        :prev-link-class="'prev-link-order'"
                        :prev-class="'page-link'"
                        :next-class="'page-link'"
                        :page-class="'page-order'"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {TRANSACTION_GET_LIST} from "../../../core/services/store/transaction.module";
import {types} from "../../../option/transactionOption";

export default {
    name: "Transaction",
    data() {
        return {
            types: types,
            page: 1,
            last_page: 1,
            transactions: []
        }
    },
    mounted() {
        this.getList();
    },
    methods: {
        getList() {
            this.$store.dispatch(TRANSACTION_GET_LIST, {
                page: this.page
            }).then((data) => {
                this.transactions = data.data.data;
                this.last_page = data.data.last_page
            })
        },
        clickCallback(obj) {
            this.page = obj;
            this.getList();
        }
    }
}
</script>

<style scoped>

</style>
